<div class="task-cont" *ngIf="task">
  <div class="checkbox-cont">
    <input
      *ngIf="!task.completed"
      #completeCheckbox
      type="checkbox"
      [checked]="task.completed"
      (change)="onToggleComplete(completeCheckbox.checked)"
    />
  </div>
  <div class="img-cont">
    <img
      *ngIf="task.imgURL && !imgFailed"
      [src]="task.imgURL"
      alt="Appointment image"
      (error)="onImgError()"
      class="task-img"
    />
    <div *ngIf="imgFailed || !task.imgURL" class="img-placeholder">No Image</div>
  </div>
  <div class="info-cont">
    <h4 [class.completed]="task.completed">{{ task.task }}</h4>
    <p>{{ task.date | date:'MMMM d, y' }} * {{ task.priority }} priority</p>
    <div
      class="progress-indicator"
      [class.done]="task.completed"
      [class.in-progress]="!task.completed"
    >
      <p>{{ task.completed ? 'Done' : 'In Progress' }}</p>
    </div>
  </div>
  <div class="actions-cont">
    <button *ngIf="!task.completed" id="editBtn" type="button" (click)="onEdit()">Edit</button>
    <button id="delBtn" type="button" (click)="onDelete()">Delete</button>
  </div>
  
</div>