
    
     <div class="form-cont">
        <app-status></app-status>
        <app-form
          (addAppointment)="handleAddAppointment($event)"
          (updateAppointment)="handleUpdateAppointment($event)"
          (cancelEdit)="handleCancelEdit()"
          [selectedAppointment]="selectedAppointment"
          [selectedIndex]="editingIndex"
        ></app-form>
     </div>
     <div class="tasks-cont">
         <app-search></app-search>
         <div *ngIf="appointments.length; else noAppointments">
           <app-task
             *ngFor="let appointment of appointments; let i = index"
             [task]="appointment"
             [index]="i"
             (editAppointment)="handleStartEdit($event)"
             (deleteAppointment)="handleDeleteAppointment($event)"
           ></app-task>
         </div>
         <ng-template #noAppointments>
           <p>No appointments yet. Add one using the form above.</p>
         </ng-template>
     </div>
    