<div class="auth-wrapper">
    <div class="auth-cont">
        <div *ngIf="userEmail">Signed in as: {{ userEmail }}</div>

    <div *ngIf="errorMessage" class="auth-error">{{ errorMessage }}</div>

    
        <label for="email">Email</label>
        <input
            id="email"
            name="email"
            type="email"
            placeholder="you@example.com"
            [(ngModel)]="email"
        />
    

    
        <label for="pass">Password</label>
        <input
            id="pass"
            name="pass"
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
        />
    

    
        <label for=""></label>
        <button id="signin" type="button" (click)="signIn()">Sign in</button>
        <div class="signup-cont">
            <p>Don't have an account yet? <span class="register-link" role="button" tabindex="0" (click)="signUp()" (keydown.enter)="signUp()">Register</span></p>
        </div>
    
    </div>
</div>